.content {
    margin: 40px 80px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
  }
  
  .content h2 {
    color: #18304b;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  
  .content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 10px;
    color: #6c7881;
    margin: 0 0 1rem;
  }
  
  .content__tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1rem;
  }

  .showTiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1rem;
  }
  
  .tile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid #e3e5e8;
    border-radius: 16px;
    text-align: center;
    height: 105px;
    margin-bottom: 24px;
    padding: 10px 20px;
    width: 100%;
    text-decoration: none;
    color: #0271e1;
    line-height: 1.5;
    font-size: 0.8rem;
  }
  .tile:hover {
    cursor: pointer;
    border-color: #0271e1;
  }

  .contentButton {
    display: flex;
    justify-content: center;
  }
  
  .expandButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #0271e1;
    background: #fff;
    cursor: pointer;
  }
  
  .toggleButtonArrow {
    display: flex;
    margin-left: 5px;
  }
  
  @media (min-width: 768px) and (max-width: 992px){
    .content__tiles {
      grid-template-columns: repeat(4, 1fr);
    }
    .showTiles {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0 1rem;
    }
    .content__tiles a:nth-child(5),
    .content__tiles a:nth-child(6)  {
      display: none;
    }
  }
  
  @media (min-width: 992px) {
    .content__tiles {
      grid-template-columns: repeat(6, 1fr);
    }
    .showTiles {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 0 1rem;
    }
  }
  